body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    margin: 20px 100px 20px 100px;
    background-color: #fff;
    padding: 20px;
}

h1 {
    text-align: center;
}

p {
    color: #444;
}

.highlight {
    color: red;
}

li {
    margin: 5px;
}

img {
    width: 300px;
    margin: 10px;
}
